<p>
	<a ng-show="programmeListing.previous_date" ng-href="/channels/{{programmeListing.channel.id}}/programmeListings/{{programmeListing.previous_date}}">&lt;&lt;</a>
	<a ng-show="programmeListing.next_date" ng-href="/channels/{{programmeListing.channel.id}}/programmeListings/{{programmeListing.next_date}}">&gt;&gt;</a>
	<input type="text" placeholder="Filter..." ng-model="programmeFilter">
	<img class="channel-icon" src="{{programmeListing.channel.icon_url}}" />
	<span class="channel-name">{{programmeListing.channel.name}}</span>
</p>
<div class="row" ng-repeat="dayChunk in programmeListing.days | chunk:3">
	<div class="span4" ng-repeat="day in dayChunk">
		<table class="table table-condensed table-striped">
			<th colspan="2">{{day.date | date:'fullDate'}}</th>
			<tr ng-repeat="programme in day.programmes | filter:programmeFilter" class="{{classForProgrammeLine(programme)}}">
				<td>{{programme.start_time | date:'HH:mm'}}</td>
				<td><a ng-href="/programmes/{{programme.id}}">{{programme.title}}</td>
			</tr>
		</table>
	</div>
</div>
