.idea
.bundle
/channels.txt
/channel_mappings.yaml
/programmes.xmltv
/recordings
/spec/resources/recordings
*.sqlite
*.pyc
*.yaml
*.iml
epg.xml

python/build
python/recordings
build-bundle
*.sqlite.bak*
epg_data
python/tst
python/scripts/syno_package
channels.txt
ontv_epg.xml
python/simplepvr/recordings
