.idea
*.gem
.bundle
channels.txt
channel_mappings.yaml
programmes.xmltv
recordings
*.sqlite
*.pyc
*.yaml
*.iml
epg.xml

python/build
build-bundle
*.sqlite.bak*
epg_data
python/tst
python/scripts/syno_package
ontv_epg.xml
*.cover

/plugins/xbmc/output
