[SimplePVR]
recordings_path = /volume1/public/Recordings
http_port = 8000
sqlite_database = /volume1/@appstore/.simplepvr/simplepvr.sqlite
sqlite_uri = sqlite:///%(sqlite_database)s

[Logger]
level = INFO
file = /var/log/simplepvr/simplepvr.log

