<!DOCTYPE html>
<html lang="en">
	<div name="menu">
		<a href="/schedules">Schedules/upcoming recordings</a> -
		<a href="/channels">Channels</a> -
		<a href="/recordings">Recordings</a> -
		<a href="/status">Status</a>
	</div>
	<%= yield %>
</html>