<div class="row">
	<div class="span12">
		<h1>Results for {{query}}</h1>
	</div>
</div>
<div class="row" ng-repeat="programmeChunk in result | chunk:2">
	<div class="span6" ng-repeat="programme in programmeChunk">
		<h2>{{programme.title}}</h2>
		<p>{{programme.start_time | date:'fullDate'}} at {{programme.start_time | date:'HH:mm'}} on channel {{programme.channel.name}}.</p>
		<p>{{programme.subtitle}}</p>
		<p>{{programme.description}}</p>
		<p><a ng-href="/programmes/{{programme.id}}">Show details</a></p>
		<div ng-show="programme.is_scheduled">
			<p>This programme is being recorded.</p>
		</div>
	</div>
</div>
