<div class="row">
	<div class="span12">
		<h1>Recordings of {{show.name}}</h1>
	</div>
</div>
<div class="row" ng-repeat="recordingChunk in recordings | chunk:2">
	<div class="span6" ng-repeat="recording in recordingChunk">
   		<h2>{{recording.episode}}</h2>
		<p>{{recording.subtitle}}</p>
		<p>{{recording.start_time | date:'fullDate'}} at {{recording.start_time | date:'HH:mm'}} from channel {{recording.channel_name}}.</p>
		<p>{{recording.description}}</p>
		<p><button class="btn" type="button" ng-click="deleteRecording(recording)">Delete recording</button></p>
	</div>
</div>