<h1>Recordings</h1>
<% if shows.empty? %>
<p>Nothing has been recorded.</p>
<% else %>
<p>
	<% for show in shows %>
	<form action="/recordings/<%=u show %>/delete" method="post">
		<a href="/recordings/<%=u show %>"><%=h show%></a>
		<input type="submit" value="Delete all"/>
	</form>
	<br/>
	<% end %>
</p>
<% end %>