<div class="row">
	<div class="span12">
		<form class="form-inline">
			<input id="channel_filter" type="text" placeholder="Filter..." ng-model="channelFilter">
			<label class="checkbox">
				<input type="checkbox" ng-model="showHiddenChannels">Show hidden channels</input>
			</label>
		</form>
	</div>
</div>
<div class="row" ng-repeat="channelChunk in channels | orderBy:name | filter:shouldShowChannel | filter:channelFilter | chunk:3">
	<div ng-repeat="channel in channelChunk" class="span4">
		<table class="table table-condensed">
			<thead>
				<tr>
					<th colspan="2">
						<img ng-show="channel.icon_url" class="channel-icon" ng-src="{{channel.icon_url}}" />
						<span class="channel-name">
							{{channel.name}}
						</span>
						<a ng-href="channels" ng-hide="channel.hidden" class="icon-remove pull-right" ng-click="hideChannel(channel)" title="Hide channel" ></a>
						<a ng-href="channels" ng-show="channel.hidden" class="icon-ok pull-right" ng-click="showChannel(channel)" title="Show channel"></a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-show="channel.current_programme" ng-class="classForProgrammeLine(channel.current_programme)">
					<td class="span1">{{channel.current_programme.start_time | date:'HH:mm'}}</td>
					<td><a ng-href="/programmes/{{channel.current_programme.id}}">{{channel.current_programme.title}}</td></tr>
				<tr ng-repeat="upcomingProgramme in channel.upcoming_programmes" ng-class="classForProgrammeLine(upcomingProgramme)">
					<td class="span1">{{upcomingProgramme.start_time | date:'HH:mm'}}</td>
					<td><a ng-href="/programmes/{{upcomingProgramme.id}}">{{upcomingProgramme.title}}</a></td></tr>
				<tr>
					<td colspan="2">
						<a ng-href="/channels/{{channel.id}}/programmeListings/today" class="pull-right">...</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>