<p><a ng-href="#/channels/{{programmeListing.channel.id}}/programmeListings/{{programmeListing.yesterday}}">&lt;&lt;</a> <a ng-href="#/channels/{{programmeListing.channel.id}}/programmeListings/{{programmeListing.tomorrow}}">&gt;&gt;</a></p>
<div class="row">
	<div class="span4">
		<table class="table table-condensed table-striped">
			<th colspan="2">{{programmeListing.today | date}}</th>
			<tr ng-repeat="programme in programmeListing.programmes">
				<td>{{programme.start_time}}</td><td><a ng-href="#/programmes/{{programme.id}}">{{programme.title}}</td>
			</tr>
		</table>
	</div>
	<div class="span4" ng-show="programmeListingTomorrow">
		<table class="table table-condensed table-striped">
			<th colspan="2">Tomorrow</th>
			<td>To come...</td>
		</table>
	</div>
	<div class="span4" ng-show="programmeListingTomorrow">
		<table class="table table-condensed table-striped">
			<th colspan="2">The day after tomorrow</th>
			<td>To come...</td>
		</table>
	</div>
</div>
