<div class="row">
	<div class="span6" id="schedules">
		<h1>Existing schedules</h1>
		<div class="row" ng-repeat="schedule in schedules">
			<div class="span6">
				<p>{{schedule.title}}
					<span ng-show="schedule.channel">on {{schedule.channel.name}}</span>
					<span ng-show="schedule.start_time">{{schedule.start_time | date:'fullDate'}} at {{schedule.start_time | date:'HH:mm'}}</span></p>
				<p><a ng-click="deleteSchedule(schedule)" class="btn">Delete</a></p>
			</div>
		</div>
		<div class="row">
			<div class="span6">
				<h1>Create new schedule</h1>
				<form>
					<label class="control-label" for="newScheduleTitle">Name</label>
					<input id="newScheduleTitle" type="text" ng-model="newSchedule.title"></p>
					<label class="control-label" for="newScheduleChannel">Channel</label>
					<select id="newScheduleChannel" ng-model="newSchedule.channelId">
				      <option value="0">-- Any channel --</option>
				      <option ng-repeat="channel in channels" value="{{channel.id}}">{{channel.name}}</option>
				    </select></p>
					<span ng-show="newSchedule.title"><button ng-click="createSchedule()" class="btn">Create schedule</button></span>
				</form>
			</div>
		</div>
	</div>
	<div class="span6" id="upcoming_recordings">
		<h1>Upcoming recordings</h1>
		<div class="row" ng-repeat="recording in upcomingRecordings">
	    	<div class="span6">
		    	<h2 ng-style="headlineStyleFor(recording)">{{recording.show_name}}</h2>
				<p>{{recording.start_time | date:'fullDate'}} at {{recording.start_time | date:'HH:mm'}} on {{recording.channel.name}}</p>
				<p ng-show="recording.subtitle">{{recording.subtitle}}</p>
				<p><a ng-href="/programmes/{{recording.programme_id}}">View details</a></p>
			</div>
		</div>
	</div>
</div>
