<div class="row">
	<div class="span12">
		<h1>Recordings of {{show.name}}</h1>
	</div>
</div>
<div class="row" ng-repeat="recordingChunk in recordings | orderBy:'start_time' | chunk:2">
	<div class="span6" ng-repeat="recording in recordingChunk">
   		<h2>{{recording.episode}}</h2>
		<img ng-show="recording.has_thumbnail" class="thumbnail" ng-src="/api/shows/{{show.name}}/recordings/{{recording.episode}}/thumbnail.png">
		<p>{{recording.subtitle}}</p>
		<p>{{recording.start_time | date:'fullDate'}} at {{recording.start_time | date:'HH:mm'}} from channel {{recording.channel_name}}.</p>
		<p>{{recording.description}}</p>
		<p>
			<a target="_self" ng-href="/api/shows/{{show.name}}/recordings/{{recording.episode}}/stream.ts">Raw stream</a>
			-
			<a ng-show="recording.has_webm" target="_self" ng-href="/api/shows/{{show.name}}/recordings/{{recording.episode}}/stream.webm">View in browser (Firefox/Chrome)</a>
			<button ng-hide="recording.has_webm" class="btn" type="button" ng-click="startTranscoding(recording)">Prepare for playing in Firefox/Chrome</button>
		</p>
		<p><button class="btn" type="button" ng-click="deleteRecording(recording)">Delete recording</button></p>
	</div>
</div>
